@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Inter', sans-serif;
	font-family: 'Lexend Deca', sans-serif;
	background-color: var(--blue);
}

:root {
	--blue: hsl(233, 47%, 7%);
	--blue2: hsl(244, 38%, 16%);
	--violet: hsl(277, 64%, 61%);
	--white: hsl(0, 0%, 100%);
	--tra1: hsla(0, 0%, 100%, 0.75);
	--tra2: hsla(0, 0%, 100%, 0.6);
}

.content {
	width: 1000px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--blue2);
	border-radius: 20px;
}

.content-int {
	display: grid;
	/*justify-content: flex-end;*/
	/*align-content: space-between;*/
	grid-template-columns: 50% 50%;
}

.h1 {
	font-weight: 700;
	font-size: 30px;
	color: var(--white);
	margin: 5px 0;
}

.text {
	font-weight: 400;
	font-size: 15px;
	width: 85%;
	color: var(--tra2);
	/*margin: 20px 0;*/
}

.insights {
	display: inline;
	color: var(--violet);
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
	margin-top: 40px;
}

.left {
	display: flex;
	margin: 60px auto;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
}

.right {
	grid-column: 2;
	grid-row: 1;
	background: 
		linear-gradient(
		      rgba(51,0,102, 0.60),
		      rgba(51,0,102, 0.60)
		    ),
		url(images/image-header-desktop.jpg);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

@media (max-width: 375px) {
	.content {
		position: static;
		/*display: flex;*/
		/*justify-content: center;*/
		transform: translate(0,0);
		margin: auto;
		width: 90%;
		/*height: 100vh;*/
		margin: 100px auto;
		border-radius: 20px;
	}

	.content-int {
		grid-template-columns: 1fr;
		grid-template-rows: 300px 1fr;
		/*justify-content: center;*/
	}

	.items {
		display: flex;
		flex-direction: column-reverse;
	}

	.left {
		margin: 30px auto;
		width: 80%;
		text-align: center;
		justify-content: center;
		grid-row: 2;
	}

	.text {
		width: 100%;
	}

	.attribution {
		display: none;
	}

	.right {
		grid-row: 1;
		grid-column: 1;
		background: 
		linear-gradient(
		      rgba(51,0,102, 0.60),
		      rgba(51,0,102, 0.60)
		    ),
		url(images/image-header-mobile.jpg)
		no-repeat
		center
		center
		;
		background-size: cover;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	}

}